{% extends "admin/base_site.html" %}

{% block content %}
<h1>List Orders</h1>
<div class="results">
    <table id="result_list">
        <thead>
            <tr>
                <th style="width: 150px">Invoice ID</th>
                <th>Customer</th>
                <th>Ward No</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in orders %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.shipping.name}}({{row.shipping.mobile}})</td>
                <td>{{row.shipping.ward_no}}</td>
                <td>{{row.status}}</td>
                <td>{{row.created}}</td>
                <td><a href="{% url 'vieworder' row.id %}" class="btn btn-sm btn-primary">View Items</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}