{% extends "admin/base_site.html" %}

{% block content %}
<h1>Items Ordered</h1>
<table style="width: 100%; margin-bottom: 30px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Weight Attributes</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in order.items_ordered.all %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.product.name}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.weight_attributes}}</td>
            <td>{{row.product.price}}</td>
            <td>{%widthratio row.quantity 1 row.product.price%}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No record found yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h1>Shipping Address</h1>
<table style="width: 100%;">
    <thead>
        <th>Customer name</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Ward No</th>
        <th>Pincode</th>
    </thead>
    <tbody>
        <tr>
            <td>{{order.shipping.name}}</td>
            <td>{{order.shipping.mobile}}</td>
            <td>{{order.shipping.address}}</td>
            <td>{{order.shipping.ward_no}}</td>
            <td>{{order.shipping.pincode}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}