{% extends "admin/base_site.html" %}
{% load extratags %}

{% block content %}
<h1>Items Ordered</h1>
<table style="width: 100%; margin-bottom: 30px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Weight Attributes</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in order.items_ordered.all %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.product.name}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.product.weight_attributes}}</td>
            <td>{{row.product.price}}</td>
            <td>{% multiply row.quantity row.product.price %}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No record found yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h1>Order Details</h1>
<fieldset class="module aligned">
    <div class="form-row">
        <label>Delivery Date:</label>
        <div class="related-widget-wrapper">{{order.created}}</div>
    </div>
    <div class="form-row">
        <label>Weekly Day:</label>
        <div class="related-widget-wrapper">{% if order.weekly_day %}{{order.weekly_day}}{% else %}Not Applicable{% endif %}</div>
    </div>
</fieldset>
<h1>Shipping Address</h1>
<fieldset class="module aligned">
    <div class="form-row">
        <label>Customer Name:</label>
        <div class="related-widget-wrapper">{{order.shipping.name}}</div>
    </div>
    <div class="form-row">
        <label>Mobile:</label>
        <div class="related-widget-wrapper">{{order.shipping.mobile}}</div>
    </div>
    <div class="form-row">
        <label>Address:</label>
        <div class="related-widget-wrapper">{{order.shipping.address}}</div>
    </div>
    <div class="form-row">
        <label>Ward No:</label>
        <div class="related-widget-wrapper">{{order.shipping.ward_no}}</div>
    </div>
    <div class="form-row">
        <label>Pincode:</label>
        <div class="related-widget-wrapper">{{order.shipping.pincode}}</div>
    </div>
</fieldset>
<style>
    .related-widget-wrapper{float: left; overflow: hidden;}
    .aligned label {
        display: block;
        float: left;
        width: 160px;
        word-wrap: break-word;
        font-weight: bold;
    }
    .form-row {
        overflow: hidden;
        padding: 10px;
        font-size: 13px;
        border-bottom: 1px solid var(--hairline-color);
    }
    .form-row:first-child{border-top: 1px solid var(--hairline-color);}
</style>
{% endblock %}